.Constellation_plugin {
  font-size: smaller;
  line-height: 12px;
}

.Constellation_plugin_description {
  font-style: italic;
  color: rgba(127,255,255,0.5);
  margin-left: 2em;
}

.Constellation_plugin_state {
  border: 1px solid #999;
  display: inline-block;
  width: 1em;
}

.Constellation_plugin_present {
  font-weight: bolder;
  color: #fff;	
}

.Constellation_plugins_add {
  color: #0f0;
  border: 1px solid #0f0;	
}

.Constellation_plugins_remove {
  color: red;
  border: 1px solid red;	
}

.Constellation_plugin_pinned {
  background-color: #999;
  color: #ccc;
}

.Constellation_plugins_message {
  font-size: xx-small;
  margin: 0 8px;
  line-height: 14px;	
}